<html xmlns:th="http://www.thymeleaf.org"
      xmnls="http://www.w3.org/1999/xhtml">
    <head>
        <title>Practica01</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header">
            <h1 style="background-color: skyblue; color: black; text-align: center">Practica01</h1>
        </header>
        
        <footer th:fragment="footer">
            <div style="background-color: skyblue; text-align: center">
            <p style="background-color: skyblue">Integrantes del grupo:</p>
            <p style="background-color: skyblue">Jose Andrés Diaz Garro</p>
            <p style="background-color: skyblue">Jose Pablo Durán Madrigal</p>
            </div>
        </footer>
    </body>
</html>
