<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica 01</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/estilo1.css}" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h2>Lista de Estados</h2>
        <a th:href="@{/nuevoEstado}">Nuevo Estado </a>
        <br><br>
        <div th:if="${estados != null and !estados.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Id_Estado</th>
                        <th>Nombre</th>
                        <th>Capital</th>
                        <th>Población</th>
                        <th>Extensión (Km)</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${estados}">
                        <td th:text="${item.idEstado}"></td>
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.capital}"></td>
                        <td th:text="${item.poblacion}"></td>
                        <td th:text="${item.extension}"></td>
                        <td><a th:href="@{actualizarEstado/} + ${item.idEstado}">Actualizar</a> </td>
                        <td><a th:href="@{eliminarEstado/} + ${item.idEstado}">Eliminar</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estados == null or estados.empty}">
            No tenemos lista de estados para mostrar.
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
